<!DOCTYPE html>
<html>

  <%- include('header.ejs') %>

  <body>

    <body class="hm-index-body text-center" style="overflow-x: hidden">

    <div class="cover-container d-flex h-100 mx-auto flex-column">

      <%- include('navbar.ejs') %>
      <div class="hm-container">

          <h1 style="margin-top: 32px;"><%= title %></h1>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agenciasmodal">
            Añadir
          </button>

          <table id="agenciastable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="agenciasbody">

            </tbody>
          </table>
      </div>
    </div>

    <div class="modal" id="agenciasmodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Agencia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="agencianombre">Nombre de Agencia</label>
              <input type="text" class="form-control" id="agencianombre" placeholder="Repuestos...">
            </div>
            <div class="form-group">
              <label for="direccionnombre">Direccion de Agencia</label>
              <input type="text" class="form-control" id="direccionnombre" placeholder="Repuestos...">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="guardaragencias" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
