<!DOCTYPE html>
<html>

  <%- include('header.ejs') %>

  <body>

    <body class="hm-index-body text-center" style="overflow-x: hidden">

    <div class="cover-container d-flex h-100 mx-auto flex-column">

    <%- include('navbar.ejs') %>

    <div class="modal" id="loginmodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Iniciar Sesion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/login" method="post">
            <div class="modal-body">
              <div class="form-group">
                <label for="opcionSubtype">Usuario</label>
                <input type="text" class="form-control" name="username" id="loginusername">
              </div>
              <div class="form-group">
                <label for="opcionSubtype">Password</label>
                <input type="password" class="form-control" name="password" id="loginpassword">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="iniciarsesionn" class="btn btn-primary">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>
