<header class="masthead">
    <div class="inner">
        <a href="/institutions" class="masthead-brand-link">
            <h3 class="masthead-brand">PEUGEOT ECUADOR | VISITAS</h3>
        </a>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link <% if(active === 'reportes') {%> active <% } %>" href="/reportes">Reportes</a>
            <a class="nav-link <% if(active === 'agencias') {%> active <% }%>" href="/agencias">Agencias</a>
            <a class="nav-link <% if(active === 'opciones') {%> active <% }%>" href="/opciones">Opciones de Visita</a>
            <a class="nav-link <% if(active === 'usuarios') {%> active <% }%>" href="/usuarios">Usuarios</a>
        </nav>
    </div>
</header>
