<!DOCTYPE html>
<html>

  <%- include('header.ejs') %>

  <body>

    <body class="hm-index-body text-center" style="overflow-x: hidden">

    <div class="hm-loader-dimmer">
        <div class="hm-loader">
            <div class="load-3">
                <p>Cargando. Por favor, espera unos segundos.</p>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div class="cover-container d-flex h-100 mx-auto flex-column">

      <%- include('navbar.ejs') %>
      <div class="hm-container">

          <h1 style="margin-top: 32px;"><%= title %></h1>

          <div class="hm-4box">
            <div class="hm-col">
              <div class="plotbox" id="plot1">
                <canvas id="pordia" width="400" height="400"></canvas>
              </div>
              <div class="plotbox" id="plot2">
                <canvas id="porhora" width="400" height="400"></canvas>
              </div>
            </div>
            <div class="hm-col">
              <div class="plotbox" id="ranking1">
                <p style="font-size: 22px;">Cantidad total de clientes</p>
                <h2 style="font-size: 150px;" id="totalclientes"></h2>
              </div>
              <div class="plotbox" id="ranking2">
                <p style="font-size: 22px;">Ranking de Agencias</p>

              </div>
            </div>
          </div>

          <div class="hm-healthmap-map-info" style="position: fixed;
              z-index: 1000000;
              top: 100px;">
              <div class="hm-healthmap-selectors">
                  <h1 class="hm-page-title-u"> FILTROS </h1>
                  <div class="hm-select-date-box">
                      <div>
                          <label class="hm-fields-label" for="from">Desde</label>
                          <input class="hm-select-date" type="text" id="from" name="from">
                      </div>
                      <div>
                          <label class="hm-fields-label" for="to">Hasta</label>
                          <input class="hm-select-date" type="text" id="to" name="to">
                      </div>
                  </div>
                  <div class="hm-filter-box">
                      <div class="ui-widget">
                          <label class="hm-fields-label" for="from">Tipo de visita</label>
                          <select id="combobox-tipovisita">
                              <option value="nuevo">Vehiculo Nuevo</option>
                              <option value="posventa">Posventa</option>
                          </select>
                      </div>
                  </div>
                  <div class="hm-filter-box">
                      <div class="ui-widget">
                          <label class="hm-fields-label" for="from">Medio/Motivo de la visita</label>
                          <select id="combobox-motivo">
                          </select>
                      </div>
                  </div>
                  <button id="hm-filter-action"
                          type="button"
                          class="hm-action-button btn btn-outline-primary btn-lg btn-block">
                      FILTRAR
                  </button>
              </div>
          </div>

      </div>
    </div>


    <%- include('footer.ejs') %>
  </body>
</html>
